#slider {
    margin: auto;
    position: relative;
    width: 500px;
    height: 500px;
    z-index: 1;
    overflow: hidden;
}
.img-big {
    display: block;
    width: 500px;
    height:350px;
    cursor: pointer;
}
.img-small {
    transition: margin 0.25s;
    height: 130px;
}

.buttons {
    margin-left: 45%;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(240, 240, 240, 0.7);
    height: 100%;
    width: 100%;
    z-index: 100;
}
.zoomedImage {
    cursor: pointer;
    height: 80%;
}
.scroll {
    padding: 10px;
    margin: auto;
    height: 130px;
}