div.levo {background-image: url(img/left.png);
    width: 200px;
    height: 200px;
    }
.levo:hover{
        background-image: url(https://www.iconfinder.com/icons/1518241/arrow_arrows_direction_left_navigation_right_icon);
    }

div.pravo {background-image: url(img/right.png);
    color: crimson;    }

.pravo:hover{ 
        background-image: url(https://www.iconfinder.com/icons/1518262/arrow_arrows_direction_next_right_icon);
    }

a:visited:hover {color: darkgreen }