*{
    margin: 0;
    padding: 0;
}
.main {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
}
.slots {
    width: 90%;
    height: 90%;
    margin: auto;
}
.slotmachine {
    width: 85%;
    height: 90%;
}
#button_start {
    position: absolute;
    right: 0;
    top: 30%;
    padding : 50px;
    background: none;
}
#balance {
    position: absolute;
    right: 5%;
    top: 60%;
    font-size: 18px;
    background: none;
}