.strelka  {
    overflow:hidden;
    width: 710px;
    height: 710px;
    }

    .strelka img {
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        }
        
       .strelka img:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        }   
        
        .size {
            position: absolute;
            top: 380px;
            right: 0;
        }

        .size2  {
                position: absolute;
                top: 380px;
                left: 0;
        }

   .albedotop {
    background-image: url(albedotop2.png);
    background-position: 25% 10%;

    position:absolute;
        top: 230px;
        left: 100px;
        width: 330px;
        height: 480px;
   }     

   .albedotop:hover{
    background-image: url(albedotop2.png);
    background-position: 85% 30%;


   }