#img-slider {
    width: 400px;
    height: 400px;
    position: relative;
}
.img-big {
    width: 400px;
    height: 400px;
    display: block;
}
.img-small {
    width: 100px;
    height: 100px;
}
.img-title {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0 4px #fff;
}