body {
    font-family: sans-serif;
    background-image: url(./img/index.png) no-repeat;

}

html {
    background: linear-gradient(to bottom,#ebf3fe,#FFFFFF) no-repeat;
}

a {
    color: darkgrey;
    border: none;
}

a:hover {
    color: grey;
}

.menu {
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    color: gray;
    margin-top: 75px;
    letter-spacing: 2px;
}

.logo {
    display: block;
    position: absolute;
    top: 65px;
    left: 160px;
    height: 40px;
}

.mf {
    margin-left: 60px;
    font-weight: bold;
    color: #4c576d;
}

.sign {
    margin-left: 54px;
    border: 2px solid;
    border-radius: 2px;
    border-color: rgb(23, 197, 168);
}

.log {
    margin-left: calc(100% / 25);
}

ul li {
    display: inline;
    padding: 5px 10px;
    margin-left: calc(100% / 15); 
}

ul li:hover {
    cursor: pointer;
}

button {
    position: absolute;
    left: 108px;
    top: 646px;
    text-transform: uppercase;
    padding: 14px 22px;
    letter-spacing: 3px;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right,#3c74ff,#64b4fd);
    border: none;
    border-radius: 5px;
    transition: border-color 0.25s; 
    text-align: center;
}

button:hover {
    box-shadow: 0 0 10px;
    cursor: pointer;
}

.fst {
    display: block;
    width: 825px;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 260px 100px 0;
    line-height: 66px;
    color: #475b8d;
}

.scnd {
    display: block;
    width: 545px;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 18px;
    color: #686f89;
    margin-left: 100px;
    margin-top: 20px;
    padding: 2px;
}