body {
    background: url("./img/background/bg.png");
}
.nav1 {
    background:#FFF;
    border-radius: 5px 5px 0 0 ;
    width: 80%;
    margin: 10%;
    height: 76px;
}
.nav1::before {
    background: url("./img/logo.png");
    content: "";
}