body {
    background: url("./img/background/bg.png");
}
.nav1 {
    background:#FFF;
    border-radius: 5px 5px 0 0 ;
    width: 1194px;
    height: 76px;
    margin-left: calc(50% - 1194px / 2);
    margin-top: 15%;
}
.nav1 .logo {
    position: relative;
    left: 30px;
    top: 24px;
}
.nav1 .buttons {
    position: relative;
    top: 26px;
}
.nav1 .buttons .ico{
    margin-left: 305px;
}
.nav1 .buttons .icon {
    margin-left: 43px;
}
.nav1 .ico {
    margin-left: 280px;
    background: url("./img/topPanel/comics.png");
    display: inline-block;
    width: 19px;
    height: 21px;
}
.nav1 .icon.move {
    background: url("./img/topPanel/movie\ icon.png");
    display: inline-block;
    width: 22px;
    height: 17px;
}
.nav1 .icon.move::after {
    content: url("./img/topPanel/movie\ text\ hover.png");
    display: inline-block;
    width: 66px;
    height: 27px;
    position: absolute;
    top: 32px;
    left: 345px;
}
.nav1 .icon.video {
    background: url("./img/topPanel/video_1.png");
    display: inline-block;
    width: 20px;
    height: 20px;
}
.nav1 .icon.video:hover {
    background-position: 20px 0;
}
.nav1 .icon.game {
    background: url("./img/topPanel/game.png");
    display: inline-block;
    width: 22px;
    height: 22px;
}
.nav1 .icon.tv {
    background: url("./img/topPanel/tv.png");
    display: inline-block;
    width: 20px;
    height: 19px;
}
.nav1 .icon.more {
    background: url("./img/topPanel/more.png");
    display: inline-block;
    width: 18px;
    height: 17px;
}